@import url(./vendor/fonts.css);

.not-found {
  background-image: url(../assets/404back.png);
  background-size: cover;
  height: 60vh;
}
.not-found__title {
  font-family: "DarkerGrotesque";
  font-size: 140px;
  line-height: 0.9;
  font-weight: 300;
  color: #ddd;
  margin-top: 130px;
}
.back-to-main {
  background-color: #ddd;
  text-decoration: none;
  color: #222;
  padding: 4px 16px 10px;
  margin: 16px 0 60px;
  width: fit-content;
  border-radius: 10px;
  border: #fff 1px solid;
  font-family: "DarkerGrotesque";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  display: flex;
  cursor: pointer;
}
@media (min-width: 768px) {
  .not-found {
    background-image: url(../assets/404.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
  }
  .background {
    background: linear-gradient(180deg, rgba(3, 76, 59, 0) 0%, #05433c 74.36%);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .not-found__title {
    font-size: 400px;
    line-height: 0.8;
    margin: 130px auto 40px 0;
  }
  .back-to-main {
    padding: 8px 20px 12px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 700;
  }
}
