@import url(./vendor/fonts.css);

.cases__title-container {
  position: relative;
  border-radius: 10px;
  padding: 30px 30px 70px;
  margin-bottom: 80px;
  height: 570px;
  min-height: fit-content;
  align-content: end;
}
.cases__title-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/cases.jpeg) no-repeat center center / cover;
  border-radius: 10px;
  opacity: 0.45;
  z-index: -1;
}
.cases__article {
  background-color: #1d1d1d;
  border: #272727 1px solid;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px 30px 70px;
}
.cases__text {
  margin-top: 50px;
  max-width: 95%;
}
.cases__grid-green {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  align-items: stretch;
  justify-content: space-between;
  color: #ffffff;
  text-align: left;
}
.cases__grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 20px;
  align-items: stretch;
  justify-content: space-between;
  color: #ffffff;
  text-align: left;
  margin: 20px 0 0;
}
.case__mobility {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 20px;
  align-items: stretch;
  justify-content: space-between;
  color: #ffffff;
  text-align: left;
  margin-top: 20px;
}
.case__aside {
  background: linear-gradient(34.98deg, #05433c 1.17%, #034c3b 42.17%);
  border: #045743 1px solid;
  border-radius: 10px;
  padding: 30px 30px 70px;
  grid-column: 2 / 2;
}
.max-width {
  max-width: 75%;
}

/* Responsive Design */
@media (min-width: 768px) and (max-width: 1152px) {
  .cases__text {
    margin-top: 30px;
    max-width: 100%;
  }
  .cases__grid,
  .cases__grid-green,
  .case__mobility {
    grid-template-columns: 1fr 1fr;
  }
  .max-width {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .max-width {
    max-width: 100%;
  }
  .cases__article {
    padding: 16px 16px 36px;
  }
  .case__aside {
    padding: 16px 16px 36px;
  }
  .cases__grid,
  .cases__grid-green,
  .case__mobility {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .cases__title-container {
    padding: 16px 16px 36px;
    margin-bottom: 30px;
    height: 370px;
  }
}
@media (max-width: 576px) {
  .cases__title-container {
    padding: 16px 16px 36px;
    margin-bottom: 30px;
    height: auto;
    aspect-ratio: 1/1;
  }
}
