@import url(./vendor/fonts.css);

.resources__title-container {
  position: relative;
  border-radius: 10px;
  padding: 30px 30px 70px;
  margin-bottom: 80px;
  height: 570px;
  align-content: end;
}
.resources__title-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/mountain-resources.png) no-repeat center top / cover;
  border-radius: 10px;
  opacity: 0.45;
  z-index: -1;
}
.resources__container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 50px;
  margin: 80px 0;
}
.resources__container:last-child {
  margin-bottom: 0;
}
.resources__article {
  grid-column: 1 / 2;
}
.break {
  display: inline;
}
.resources__logo-right {
  grid-column: 2 / 2;
  text-align: right;
}
.logo-h40 {
  height: 40px;
  margin-top: 20px;
}
.logo-h60 {
  height: 60px;
}
.margin-top {
  margin-top: 20px;
}
.logo-h80 {
  height: 80px;
  margin-top: 20px;
}
.logo-h100 {
  height: 100px;
  margin-top: 20px;
}
.resources__text {
  margin-top: 20px;
  width: 95%;
}
.resources__lists-v {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 75%;
}
.resources__lists-v li {
  position: relative;
  padding-left: 24px;
}
.resources__lists-v li::before {
  content: url(../assets/v.svg);
  color: #ddd;
  position: absolute;
  left: 0;
  top: 0;
}
.no-wrap {
  white-space: nowrap;
}
/* Responsive Design */
@media (max-width: 1360px) {
  .break {
    display: none;
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  .resources__container {
    display: flex;
    flex-direction: column;
    margin: 60px 0;
    gap: 30px;
  }
  .resources__text {
    margin-top: 16px;
    width: 100%;
  }
  .resources__logo-right {
    text-align: left;
  }
  .logo-h40 {
    height: 25px;
    margin: 0;
  }
  .logo-h60 {
    height: 40px;
    margin: 0;
  }
  .margin-top {
    margin-top: 0;
  }
  .logo-h80 {
    height: 50px;
    margin: 0;
  }
  .logo-h100 {
    height: 60px;
    margin: 0;
  }
  .resources__lists-v {
    margin-top: 16px;
    gap: 16px;
    max-width: 95%;
  }
  .resources__lists-v li {
    padding-left: 26px;
  }
  .resources__lists-v li::before {
    font-size: 12px;
    top: 5px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .resources__title-container {
    padding: 16px 16px 36px;
    margin-bottom: 30px;
    height: 370px;
  }
}
@media (max-width: 576px) {
  .resources__title-container {
    padding: 16px 16px 36px;
    margin-bottom: 30px;
    height: auto;
    aspect-ratio: 1/1;
  }
}
